<section class="caixa">
  <div id="entrada" class="boxes">
    <p>Entradas<span class="icon-entradas"></span></p>
    <h3>R$ 1.000,00</h3>
  </div>
  <div id="saida" class="boxes">
    <p>Saídas<span class="icon-balanco"></span></p>
    <h3>R$ 1.000,00</h3>
  </div>
  <div id="balanco" class="boxes">
    <p>Balanço<span class="icon-saidas"></span></p>
    <h3>R$ 1.000,00</h3>
  </div>
</section>
