<section class="cabecalho">
  <div class="logo">
    <a href="/finances"
      ><img
        src="/assets/images/logo_topburguer.svg"
        alt="Logo da empresa."
        class="logo-empresa"
        alt="Voltar a página inicial"
    /></a>
  </div>

  <div class="perfil">
    <p class="name"><%= name %></p>
    <img
      class="img-perfil"
      src="/assets/images/avatar.svg"
      alt="Avatar de usuário."
    />
    <a href="/logout"
      ><span class="icon-exit button-logout" alt="Efetuar Logout"></span
    ></a>
  </div>
</section>
