<section class="cabecalho">
  <div class="logo">
    <a href="#"
      ><img
        src="/assets/images/logo_topburguer.svg"
        alt="Logo da empresa."
        class="logo-empresa"
    /></a>
  </div>

  <div class="perfil">
    <p>Administrador</p>
    <img src="/assets/images/avatar.svg" alt="Avatar de usuário." />
    <a href="#"><span class="icon-exit"></span></a>
  </div>
</section>
