<section class="login">
  <section class="image">
    <img
      src="assets/images/back_ilustration.svg"
      alt="Imagem de ilustração sobre finanças."
    />
  </section>
  <section class="content">
    <section class="form-login">
      <h3>BEM VINDO</h3>
      <form action="" class="form">
        <div class="dados">
          <span class="icon-user icons"></span>
          <input
            type="email"
            name="email"
            class="dados-login dados-email"
            placeholder="E-mail"
          />
        </div>
        <span class="line line-email"></span>

        <div class="dados">
          <span class="icon-cadeado icons"></span>
          <input
            type="password"
            name="password"
            class="dados-login dados-senha"
            placeholder="Senha"
          />
        </div>
        <span class="line line-password"></span>
        <a class="recovery-pass" href="#">Esqueceu a senha?</a>
        <button class="btn-login">
          <input type="submit" value="ENTRAR" />
        </button>
      </form>
    </section>
  </section>
</section>
